@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Fonts */
  --font-main: "Libre Franklin", sans-serif;
  --font-hero: "Libre Franklin", sans-serif;
  --font-type: "Libre Franklin", sans-serif;

  /* Colors */
  --color-heading-main: #000;

  /* Font Size */
  --font-size-regular: 1rem;
  --font-size-xs: 0.6rem;
  --font-size-s: 0.8rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 3.5rem;
  --font-size-xxxl: 4.5rem;

  /* Gaps */
  --gap-regular: 1rem;

  /* padding */
  --padding-section-common: 4rem 6rem;
  --padding-navbar: 1.5rem 2.5rem;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-main);
}
